main {
    width: 75%;
    margin: 40px auto;
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 40%;
}

.thongtin-nguoinhan input {
    display: flex;
    margin-top: 15px;
    width: 300px;
    height: 35px;
    border-radius: 8px;

}
.thongtin-nguoinhan {
    margin-left: 25%;
}
.thongtin-nguoinhan input:last-child {
    height: 100px;
}

button {
    margin-top: 10px;
}
